:root {
    --green: #4fad689c;
    --black: #000000e8;
    --white: #ffffffd9;
    --red: #f08f8f;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--fontColor);
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 70px; /* Set a fixed height for the banner */
    position: relative; /* Ensure the button can be positioned absolutely within the banner */
}

.banner h1 {
    margin: 0;
    margin-left: 20px; /* Add some space between the logo and the title */
}

.logo {
    height: 100%; /* Make the logo fill the height of the banner */
    width: auto; /* Maintain the aspect ratio */
}

#theme-toggle {
    margin-left: auto; /* Push the button to the right */
    padding: 3px 14px;
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

ul {
    font-family: helvetica;
}

li {    
    list-style: circle;
}

.list {
    list-style: square;
}

#go {
     font-family: verdana;
}

#msg {
    font-family: monospace;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--red);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 30px; /* Adjusted to fit within the banner */
  right: 0px; /* Adjusted to fit within the banner */
  height: 35px; /* Adjusted height */
  width: 60x; /* Adjusted width */
  border-radius: 47%;
  border: none; /* Removed border for a cleaner look */
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
}

.ayla-image {
    width: 100px;
    height: 60px;
}