:root {
    --green: #4fad689c;
    --black: #000000e8;
    --white: #ffffffd9;
    --red: #e22626;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--fontColor);
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 70px; /* Set a fixed height for the banner */
    position: relative; /* Ensure the button can be positioned absolutely within the banner */
}

.banner h1 {
    margin: 0;
    margin-left: 20px; /* Add some space between the logo and the title */
}

.logo {
    height: 100%; /* Make the logo fill the height of the banner */
    width: auto; /* Maintain the aspect ratio */
    padding: 1px;
    border-radius: 11px;
    border: 3px solid #9e9e9e1c;
}

#theme-toggle {
    margin-left: auto; /* Push the button to the right */
    padding: 3px 14px;
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

ul {
    font-family: Arial, sans-serif;
}

li {    
    list-style: circle;
}

.list {
    list-style: square;
}

#go {
     font-family: Arial, sans-serif;
}

#msg {
    font-family: Arial, sans-serif;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--red);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 30px; /* Adjusted to fit within the banner */
  right: 0px; /* Adjusted to fit within the banner */
  height: 35px; /* Adjusted height */
  width: 60px; /* Adjusted width */
  border-radius: 47%;
  border: none; /* Removed border for a cleaner look */
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--red);
}   

#go img {
    max-width: 150px;
    height: auto;
    border: 3px solid #9e9e9e1c;
    border-radius: 11px;
    transition: transform 0.2s;
}

#go img:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}

.iframe-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Full viewport height for vertical centering */
}

#iframe-container iframe {
    max-width: 100%;        /* Ensures the iframe doesn't overflow */
    max-height: 100%;       /* Ensures the iframe doesn't overflow */
}

#image-viewer {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 20px;
}
